<div class="container" *ngIf="isPatched">
<form 
  [formGroup]="consultantForm" 
  (ngSubmit)="onSubmit()"
  novalidate
>

  <app-mat-datepicker  
    controlName="birthday"    
    placeholder="Date de naissance" 
    local="fr"
    [startDate]="consultantForm.value.birthday ? consultantForm.value.birthday :startDate"
  ></app-mat-datepicker>
  
  <div *ngFor="let simpleinput of simpleinputs">
    <mat-form-field class="example-full-width">
      <input 
        matInput 
        type="text" 
        [placeholder]="simpleinput.placeholder" 
        [id]="simpleinput.name" 
        [formControlName]="simpleinput.name"
      >
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <textarea matInput cols="12" rows="5" placeholder="Profile" formControlName="profile"></textarea>
  </mat-form-field>

<h3>Forces cognitives (drag and drop)</h3>
<div formArrayName="forces">
  <app-mat-drag-and-drop
    [orderProperty]="['position']"
    [nameProperty]="['parent2','description']"
  ></app-mat-drag-and-drop>
</div>

<h3>Langues</h3>
<div formArrayName="langues">
  <div class="row" 
  *ngFor="let langueConsultant of langues.controls; let i=index"  
  [formGroupName]="i">  
    <div formGroupName="parent2"> 
      <app-mat-autocomplete
        controlName="description"
        [options] = "langueItems"
        placeholder = "Chercher et cliquer"
        property="description"
        (createNewOption)="createNewLanguage(langueConsultant)"
        >
      </app-mat-autocomplete>  
    </div>
      
    <mat-form-field  fxFlex="20%"> 
      <input 
        matInput 
        formControlName="niveau"
        placeholder="Niveau"
        [errorStateMatcher]="matcher" 
      >
      <mat-error *ngIf="langueConsultant.controls.niveau.hasError('maxLength')">
        Max length 20 
      </mat-error>
      <mat-error *ngIf="langueConsultant.controls.niveau.hasError('required')">
        <strong>Required</strong>
      </mat-error>
    </mat-form-field>        
    <button 
      type="button" 
      mat-fab 
      (click)="delete(langues,i)">
        <i class="fas fa-trash-alt"></i>
    </button>        
  </div>  
  <button mat-fab type="button" (click)="addLangue()">
    <i class="fas fa-plus-circle"></i>
  </button>  
</div>    

<div *ngFor="let arrayName of historyArraysNames; let i=index">
<h3>{{arrayName | titlecase}} </h3>
<div [formArrayName]="arrayName">
  <div 
    *ngFor="let item of consultantForm.get(arrayName).controls; let j=index" 
    [formGroupName]="j"
  >
    <app-reactive-form-array
      [properties]="historyObjectFields"
      [placeholders]="historyObjectPlaceholders" 
    >                
    </app-reactive-form-array> 

    <div *ngIf="isWithChildren[i]">
      <ul formArrayName="details">
      <li 
        *ngFor="let detail of item.get('details').controls; let k=index" 
        [formGroupName]="k"
      >     
      <mat-form-field class="example-full-width">
        <textarea  
        matInput
        formControlName="description" 
        placeholder="Tâche"> 
        </textarea>
     
        <button  mat-button type="button" matSuffix mat-icon-button aria-label="Delete" (click)="delete( item.get('details'),k)">
          <mat-icon>delete_forever</mat-icon>
        </button>
    </mat-form-field> 
    
      </li>
     <li>
      <button mat-fab type="button" 
        (click)="addDetail(item)">
        <i class="fas fa-plus-circle">Ajouter une tâche</i>   
      </button> 
    </li>
    </ul>
    </div>    
    </div>

  <button mat-fab type="button" (click)="addHistoryObjectWithChildren(arrayName,isWithChildren[i])">
    <i class="fas fa-plus-circle"></i>   
  </button>  
</div> 

</div>

<br>
<button 
  mdbBtn 
  color="primary" 
  type="button" 
  [disabled]="!consultantForm.valid"
  (click)="onSubmit(true)">
  Sauvegarder et ouvrir le formulaire de competences
</button>

  <button 
    mdbBtn 
    color="primary" 
    type="button" 
    [disabled]="!consultantForm.valid"
    (click)="onSubmit(false)"
    >
    Sauvegarder et voir le profile
  </button> 
  {{consultantForm.value | json}}   
</form>  

<ng-template #loading>
  Loading (check console for errors)...
</ng-template>
</div>
