<div class="container" >
<form 
  [formGroup]="consultantForm" 
  (ngSubmit)="onSubmit()"
  novalidate
>

  <app-mat-datepicker  
    controlName="birthday"    
    placeholder="Date de naissance" 
    local="fr"
    [startDate]="consultantForm.value.birthday ? consultantForm.value.birthday :startDate"
  ></app-mat-datepicker>
  
  <div *ngFor="let simpleinput of simpleinputs">
    <mat-form-field class="example-full-width">
      <input 
        matInput 
        type="text" 
        [placeholder]="simpleinput.placeholder" 
        [id]="simpleinput.name" 
        [formControlName]="simpleinput.name"
      >
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <textarea matInput cols="12" rows="5" placeholder="Profile" formControlName="profile"></textarea>
  </mat-form-field>

<h3>Forces cognitives (drag and drop)</h3>
<div formArrayName="forces">
  <app-mat-drag-and-drop
    [orderProperty]="['position']"
    [nameProperty]="['parent2','description']"
  ></app-mat-drag-and-drop>
</div>

<h3>Langues</h3>
<div formArrayName="langues">
  <div class="row" 
  *ngFor="let langueConsultant of langues.controls; let i=index"  
  [formGroupName]="i">  
    <div formGroupName="parent2"> 
      <app-mat-autocomplete
        [options] = "langueItems"
        placeholder = "Chercher et cliquer"
        property="description"
        (createNewOption)="createNewLanguage(langueConsultant)"
        >
      </app-mat-autocomplete>  
    </div>
      
    <mat-form-field  fxFlex="20%"> 
      <input matInput placeholder="Niveau" formControlName="niveau">
    </mat-form-field>         
    <button 
      type="button" 
      mat-fab 
      (click)="delete(langues,i)">
        <i class="fas fa-trash-alt"></i>
    </button>        
  </div>  
  <button mat-fab type="button" (click)="addLangue()">
    <i class="fas fa-plus-circle"></i>
  </button>  
</div>    

<div *ngFor="let name of historyArraysNames">
<h3>{{name}}</h3>
<div [formArrayName]="name">
  <app-reactive-form-array
    [properties]="historyObjectFields"
    [placeholders]="historyObjectPlaceholders" 
    subarrayName="details" 
    subproperty="description"
    subpropertyPlaceholder="Tâche"
  >                
  </app-reactive-form-array>  
</div> 
<button mat-fab type="button" (click)="addHistoryObjectWithChildren(name)">
  <i class="fas fa-plus-circle"></i>   
</button>  
</div>

<br>
<button 
  mdbBtn 
  color="primary" 
  type="button" 
  [disabled]="!consultantForm.valid"
  (click)="onSubmit(true)">
  Sauvegarder et ouvrir le formulaire de competences
</button>

  <button 
    mdbBtn 
    color="primary" 
    type="button" 
    [disabled]="!consultantForm.valid"
    (click)="onSubmit(false)"
    >
    Sauvegarder et voir le profile
  </button>    
</form>  

<ng-template #loading>
  Loading (check console for errors)...
</ng-template>
</div>
