<div class="container" *ngIf="isPatched">
<form [formGroup]="consultantForm" (ngSubmit)="onSubmit()" novalidate >

  <app-consultant-header  [consultant]="consultant"></app-consultant-header>
  <br>
  <app-consultant-forces [consultant]="consultant"></app-consultant-forces>
  <br>
  <app-consultant-langues [consultant]="consultant"></app-consultant-langues>
  <br><br>
  <app-consultant-history [consultant]="consultant"></app-consultant-history>
  <br>

  <button mdbBtn color="primary" type="button" [disabled]="!consultantForm.valid" (click)="onSubmit(true)">
    Sauvegarder et ouvrir le formulaire de competences
  </button>

  <button mdbBtn color="primary" type="button" (click)="onSubmit(false)" [disabled]="!consultantForm.valid">
    Sauvegarder et voir le profile
  </button>
</form>

<ng-template #loading>
  Loading (check console for errors)...
</ng-template>
</div>
