.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .example-half-width {
    width: 50%;
  }


  h3{
    text-transform: uppercase;
  }
  
  