<table class="example-full-width" cellspacing="0"><tr>
    <td *ngFor="let property of properties; let k=index">
        <mat-form-field class="example-full-width">        
            <textarea  
                matInput
                [formControlName]="property" 
                [placeholder]="placeholders[k]"
            >   
            </textarea>  
        </mat-form-field>
    </td>
    <td>
        <button  mat-button type="button" matSuffix mat-icon-button aria-label="Delete" (click)="delete()">
            <mat-icon>delete_forever</mat-icon>
        </button>
    </td>
</table>

