<div *ngIf="consultant">
    <div id="logo"><img src='assets/logo.svg'></div>

    <div  id="name">
        <span id="prenom">  
            {{consultant.firstname }}
        </span> 
        <span id="nom">
            {{consultant.lastname | uppercase}}
        </span>
    </div>
    <div id="metier">
        {{consultant.title}}
    </div>

    <div class="row">
        <div class="col-sm-4">
             <div id="photo">
                <img src='assets/{{consultant.photoname}}' height="160">
                <!-- <img src='assets/{{consultant.firstname|lowercase}}{{consultant.lastname|lowercase}}.jpg' height="160"> -->
            </div>
                 <div id="age">{{age}}  ans</div>
        </div>
        <div class="col-sm-8">
            <div id="forces">
                <legend class="subheader">Forces cognitives :</legend>
                <ul>
                    <li *ngFor="let f of consultant.forces">
                            {{f.parent2.description}}
                    </li>
                </ul>
            </div> 
            <span class="subheader">Mobilité : </span>
            <span id="mobilite">{{consultant.mobility}}</span>           
        </div>
    </div>
    <div id="expression" align="center">« {{consultant.expression}} » &#8212; {{consultant.author}}</div>
    <div class="block">
        <legend class="header">Profil</legend>
        <div id="profil">{{consultant.profile}}</div>
    </div>
    <div class="block">
        <legend  class="header">Compétences techniques</legend>
        <div id="competences">                     
            <div  class="row" *ngFor="let g of groups">       
                    <div class="col-md-3 subheader">{{g.description}} :</div> 
                    <div class="col-md-9">
                        <span *ngFor="let c of g.items; last as isLast">
                           {{c.description}}<span *ngIf="!isLast">, </span>
                        </span>        
                </div>   
            </div>
        </div>
        <div class="doNotPrint"> 
        <button 
            mdbBtn 
            color="primary" 
            type="button" 
            (click)="goTo('competences/'+consultant.id)">
            Voir le formulaire des competences
            </button>
        </div>
    </div>
  
    <div class="block">
        <legend class="header">Formations</legend>
        <div  class="row" id="formations">
            <div class="col-md-3 subheader">Diplômes :</div> 
            <div class="col-md-9">
                <div *ngFor="let f of consultant.formations">
                    <span class="subheader">{{f.dates}} : </span>{{f.description}} - {{f.institution}} - {{f.place}}
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <legend class="header">Langues</legend>
        <div  id="langues">
            <div  class="row" *ngFor="let l of consultant.langues">
                <div class="col-md-3 subheader" style="font-weight: bold;">{{l.parent2.description}} :</div> 
                <div class="col-md-3">{{l.niveau}} </div>
            </div>
        </div>
    </div>

    <p style="page-break-before: always">

    <div *ngIf="consultant.projets.length" class="block" id="projets">
        <legend class="header">Projets Auticonsult</legend>
        <div class="row" *ngFor="let p of consultant.projets">            
            <div class="col-md-3">
                <div class="subheader">{{p.dates}} :</div>
                <img src='assets/{{p.pictogram}}' height="100">
            </div>
            <div class="col-md-9">
                <div class="subheader" id="parcours_header">
                     {{p.description}} - {{p.institution}}, {{p.place}}
                </div>
                <li  *ngFor="let d of p.details" id="parcours_details">
                        {{d.description}}
                </li>
            </div>
        </div>
    </div>
    <div class="block" id="parcours">
        <legend class="header">Parcours</legend>
        <div class="row" *ngFor="let p of consultant.parcours">
            <div class="col-md-3 subheader">{{p.dates}} :</div>
            <div class="col-md-9">
                <div class="subheader" id="parcours_header">
                 {{p.description}} - {{p.institution}}, {{p.place}}
                </div>
                <li *ngFor="let d of p.details" id="parcours_details">
                        {{d.description}}
                </li>
            </div> 
        </div>
    </div>

    <div class="block">
        <legend class="header">Intérêts</legend>
        <div id="interets">{{consultant.interests}}</div>
    </div>
    <div class="doNotPrint">   
        <button 
            mdbBtn color="primary" 
            type="button" 
            (click)="goTo('edit/'+consultant.id)"
            >
            Corriger
        </button>
        
        <button 
            mdbBtn color="primary" 
            type="button" 
            (click)="onPrint()">
            Print
        </button>
    </div>
</div>