<table mdbTable striped="true" bordered="true">
  <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let item of items">
      <th scope="row">{{item.id}}</th>
      <td>{{item.lastname | uppercase}}</td>
      <td>{{item.firstname}}</td>   
      <td>{{item.title}}</td>
      <a routerLink="/detail/{{item.id}}">
        <td>
        <button class="btn btn-primary"> Print</button>
        </td>      
      </a>
      <a routerLink="/edit/{{item.id}}">
        <td>
            <button class="btn btn-primary"> Edit</button>
          </td>
        </a>
        <td><button class="delete" title="delete" (click)="delete(item)">Delete</button></td>
    </tr>
  </tbody>
</table>