
<h3>Langues</h3>
<div formArrayName="langues">
  <div  *ngFor="let langueConsultant of langues.controls; let i=index" [formGroupName]="i">
  <table cellspacing="0"><tr>
    <td>
    <div formGroupName="parent2">

      <app-mat-autocomplete
        controlName="description"
        [options] = "langueItems"
        placeholder = "Chercher et cliquer"
        property="description"
        (createNewOption)="createNewLanguage(langueConsultant)"
        >
      </app-mat-autocomplete>

    </div>
  </td>
      <td>
    <mat-form-field  fxFlex="20%">
      <input
        matInput
        formControlName="niveau"
        placeholder="Niveau"
        required
      >
      <control-messages key="niveau"></control-messages>
    </mat-form-field>
  </td>
  <td>
    <button
    mat-button type="button" matSuffix mat-icon-button aria-label="Delete"
      (click)="delete(i)">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </td>
  </tr>
  </table>
  </div>
  <button mat-fab type="button" (click)="addLangue()">
    <i class="fas fa-plus-circle"></i>
  </button>
</div>
