<legend>{{name}}</legend>
<div *ngIf="inputArray">
    <div *ngFor="let item of inputArray">
        <span *ngFor="let k of keysToShow; let i=index">
            <input         
            [(ngModel)]="item[k]" 
            placeholder="{{headElements[i]}}"/>
        </span>
        <button (click)="deleteItem(item)">Supprimer</button> 
        <app-list-edit 
        *ngIf="showDetails"
        [(inputArray)]="item.details"
        [keysToShow]="subKeysToShow"
        [headElements]="subHeadElements"
        textToShow="Ajouter une tache accomplie"
        >
        </app-list-edit>
    </div>
</div>
<button (click)="addItem()">{{textToShow}}</button>