  @media print{
    .doNotPrint{display:none !important;}
  }

  mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
  }
  
  mat-sidenav {
    width: 250px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a:hover,
  a:active {
    color: lightgray;
  }
  
  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  
  .icon {
    display: inline-block;
    height: 30px;
    margin: 0 auto;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
  }
  
  .label {
    display: inline-block;
    line-height: 30px;
    margin: 0;
    width: 85%;
  }

  .navbar {
    min-height: 80px;
  }
  
  .navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
  }
  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }

  
@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}
  
  /*
  Copyright 2017-2018 Google Inc. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */