<form 
*ngIf="show" 
[formGroup]="competencesForm" 
(ngSubmit)="onSubmit()"
novalidate>
  <div formArrayName="competences">
    <div *ngFor="let group of competences.controls  | groupBy: 'parent2':'description'; let i=index">
      <div>
          <h3>{{group.value[0].value.parent2.description}}</h3>
      </div>
      
      <table mdbTable striped="true" bordered="true">
        <thead>                 
          <tr>
            <th *ngFor="let head of headElements" scope="col">
              {{head}} 
            </th>
          </tr>
        </thead>
              
        <tbody *ngFor="let item of group.value ; let j=index" [formGroupName]="item.controls.n.value">
          <tr mdbTableCol>
            <th scope="row">
              <input formControlName="description"/>
            </th>
            <td *ngFor="let key of keysToShow" formGroupName="competenceConsultant" >
              <input [formControlName]="key"/>
            </td>
            <td> 
              <button type="button" (click)="empty(item)">Delete</button> 
            </td>             
          </tr>      
        </tbody>               
      </table>
      <button type="button" (click)="addCompetence(group.key)">Ajouter une compétence</button>
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary btn-lg btn-block">Sauvegarder</button>   
</form>  