<div *ngIf="show">
  <div *ngFor="let group of groups">
          <div>
              {{group.description}}
          </div>
          <table mdbTable striped="true" bordered="true">
                  <thead>
                    <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr mdbTableCol *ngFor="let competence of group.items">
                      <th scope="row">{{competence.description}}</th>
                      <td><input [(ngModel)]="competence.items[0].niveau"/></td>
                      <td><input [(ngModel)]="competence.items[0].experience"/></td>
                      <td><input [(ngModel)]="competence.items[0].annee"/></td>
                      <td><input [(ngModel)]="competence.items[0].contexte"/></td>
                      <td><input [(ngModel)]="competence.items[0].interet"/></td>
                    <td> <button class="delete" title="delete" (click)="delete(competence)">Delete</button> </td>
                    </tr>
                  </tbody>
          </table>
  </div>
  <a routerLink="/edit/{{consultant.id}}">
          <button (click)="save()">Save and go back to edit consultant</button>   
  </a>
  <br>
  <br>
      groups: {{groups | json}}
</div>