<h1>LISTE DE COMPETENCES IT DU CONSULTANT:</h1> 
<h2> {{consultant.firstname}} {{consultant.lastname}}</h2>

  Merci d’évaluer vos compétences !
  <br>
(Personne ne connaît tout 😉)
<br>


Pour le niveau, indiquez un chiffre entre 0 et 9:
<br>
<ul>
  <li>
0	pas de compétence
</li>
<li>
1	notions
</li>
<li>
2	connaissance basique
</li>
<li>
3	connaissance pratique
</li>
<li>
4	connaissance moyenne
</li>
<li>
5	bonne connaissance
</li>
<li>
6	solide connaissance
</li>
<li>
7	excellente connaissance
</li>
<li>
8	maîtrise
</li>
<li>
9	expertise
</li>
</ul>
<br>
Indiquez ensuite votre expérience en nombre d’années,
ainsi que l’année (approximative !) de votre dernière utilisation de cette compétence.
<br><br>
Précisez le(s) contexte(s) d’utilisation: professionnel, apprentissage, personnel, hobby, …
<br><br>
Terminez en évaluant éventuellement votre intérêt pour cette activité.<br>
Exemples:<br>
« Cette discipline ne m’intéresse pas »<br>
« Je souhaite progresser dans ce domaine »<br>
« Je ne connais pas, mais cela m’intéresse beaucoup »<br>
« C’est un domaine qui me passionne depuis plusieurs années »<br>
…
<br><br>
Laissez vides les cases hors sujet pour vous.<br><br>

Si vous n’avez pas assez de place, n’hésitez à ‘’déborder’’ sur les cases des compétences qui ne vous concernent pas.
<br><br>
Enfin, si vous constatez des erreurs de désignation, des oublis, des items rangés dans une mauvaise catégorie, des redondances, des références obsolètes, n’hésitez pas à le signaler en commentaires.
Merci d’avance.
<br><br>

Bon courage !
<br>

<form 
*ngIf="show" 
[formGroup]="competencesForm" 
(ngSubmit)="onSubmit()"
novalidate>
  <div formArrayName="competences">
    <div *ngFor="let group of competences.controls  | groupBy: 'parent2':'description'; let i=index">
      <div>
          <h3>{{group.value[0].value.parent2.description}}</h3>
      </div>
      
      <table mdbTable striped="true" bordered="true">
        <thead>                 
          <tr>
            <th *ngFor="let head of headElements" scope="col">
              {{head}} 
            </th>
          </tr>
        </thead>
              
        <tbody *ngFor="let item of group.value ; let j=index" [formGroupName]="item.controls.n.value">
          <tr mdbTableCol>
            <th scope="row">
              <input formControlName="description"/>
            </th>
            <td *ngFor="let key of keysToShow" formGroupName="competenceConsultant" >
              <input [formControlName]="key"/>
            </td>
            <td> 
              <button type="button" (click)="empty(item)">Delete</button> 
            </td>             
          </tr>      
        </tbody>               
      </table>
      <button type="button" (click)="addCompetence(group.key)">Ajouter une compétence</button>
    </div>
  </div>
  
  <button type="submit" class="btn btn-primary btn-lg btn-block">Sauvegarder</button>   
</form>  