th.mat-sort-header-sorted {
    color: blue;
  }

  table {
    width: 100%;
  }

  ::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
    flex-direction: column;
    justify-content: center;
  }

  .mat-header-cell  {
    text-align: center !important;
    font-size: 20px;
  }

  .mat-cell{
    font-size: 16px;
  }

  .centeredButton {
     text-align: center;
  }