  <div *ngIf="consultant">
        <div class="row">
         <div class="column" id="name_block">
             <div class="cadre" id="name">
                 <span id="prenom">  
                        <input [(ngModel)]="consultant.firstname" placeholder="prenom"/>
                 </span> 
                 <span id="nom">
                        <input [(ngModel)]="consultant.lastname" placeholder="nom"/>
                 </span>
             </div>
             <div id="metier">
                    <input [(ngModel)]="consultant.title" placeholder="title"/>
             </div>
         </div>
        
     </div>
     <!-- <div *ngIf="consultant.id"> -->
     <div class="row">
         <div class="column">
                 <div id="photo">
                   <!-- <img src='assets/{{consultant.firstname|lowercase}}{{consultant.lastname|lowercase}}.jpg' height="160"> -->
                  </div>
                 <input [(ngModel)]="consultant.birthday" placeholder="birthday"/>
         </div>
         <div class="column">
             <fieldset class="cadre" id="forces">
                 <legend>FORCES GOGNITIVES</legend>
                 <ul>
                     <li *ngFor="let f of consultant.forces">
                             {{f.name}}
                     </li>     
                 </ul>
             </fieldset>
             <div id="expression"> <input [(ngModel)]="consultant.expression" placeholder="expression"/></div>
             <div id="author"> <input [(ngModel)]="consultant.author" placeholder="author"/></div>
         </div>
     </div>
     <fieldset class="cadre">
         <legend>PROFIL</legend>
         <div id="profil">  <input [(ngModel)]="consultant.profile" placeholder="profil"/></div>
     </fieldset>
     <fieldset class="cadre">
         <legend>COMPETENCES TECHNIQUES</legend>
         <div id="competences">  
            <a routerLink="/competences/{{consultant.id}}">     
                <div class="module">Ouvrir formulaire de competences</div>
            </a>
         </div>
     </fieldset>
     <div class="row">
         <fieldset class="cadre">
             <legend>FORMATIONS</legend>
             <div id="formations">
                <app-history-edit [(inputArray)]="consultant.formations"></app-history-edit >
            </div>
         </fieldset>
         <div class="column">
             <fieldset class="cadre" id="disponibilite">
                 <legend>DISPONIBILITE</legend>
                 <div id="temps"> <input [(ngModel)]="consultant.occupancy" placeholder="occupancy"/></div>
                 <div id="mobilite"><input [(ngModel)]="consultant.mobility" placeholder="mobility"/></div>
             </fieldset>
             <fieldset class="cadre">
                 <legend>LANGUES</legend>
                 <div  id="langues"></div>
             </fieldset>
         </div>
     </div>
     <p style="page-break-before: always">
     

     <fieldset class="cadre" id="projets">
         <legend>PROJETS AUTICONSULT</legend>
         <app-history-edit [(inputArray)]="consultant.projets" ></app-history-edit >
     </fieldset>
     <fieldset class="cadre" id="parcours">
         <legend>PARCOURS</legend>
         <app-history-edit [(inputArray)]="consultant.parcours"></app-history-edit >
     </fieldset>
     
     <fieldset class="cadre">
         <legend>INTERETS</legend>
         <div id="interets">
                <input [(ngModel)]="consultant.interests" placeholder="Interests"/>
           </div>
     </fieldset>
    <!-- </div> -->
     <!-- <a routerLink="/detail/{{consultant.id}}"> -->
        <button class="module" (click)="save()">save</button>   
        <!-- </a> -->
         <!-- consultantJSON: {{consultant | json}}  -->
     </div>

  