html,body{
    height:275.17mm !important;
    width:190.5mm !important;
    padding: 1cm !important;
}

div{
    font-family: "Calibri";
    font-size: 12pt;
}

#logo{
    margin-bottom: 25px;
    margin-right: 25px;
}

.cadre{
    border: 1pt solid rgb(212, 0, 50);
    margin-bottom: 25px;
    margin-right: 25px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.column{
    display: flex;
    flex-direction: column;
}

legend{
    font-size: 14pt;
    color: rgb(118, 113, 133);
    font-weight: bold;
    background: #FFF;
}
#name_block{
    text-align: center;
    vertical-align: center;
}

div#name{
    height: 2.21cm;
    line-height: 2.21cm;
    color: rgb(212, 0, 50);
    font-family: Source Sans Pro Bold !important;
    font-size: 24pt;
    width: 10.58cm;
}

div#metier{
    font-family: Source Sans Pro Semi Bold !important;
    color: rgb(118, 113, 133);
    font-size: 14pt;
    font-weight: bold;
    margin-top: -37px;
    background: #FFF;
    margin-left: auto;
    margin-right: auto;
    width: 8cm;
}

#photo{
    margin-right: 50px;
    margin-left : 50px;
    width: 50%
}

#age{
    margin-right: 50px;
    margin-left : 50px;
    width: 50%;
    text-align: center;
}

.comp_group{
    font-weight: bold;
    color: rgb(212, 0, 50);
}

#expression{
    font-weight: bold;
    font-style: italic;
    color: rgb(212, 0, 50);
    margin-right: 15px;
    margin-left : 15px;
}

#author{
    font-style: italic;
    color: rgb(212, 0, 50);
    margin-right: 15px;
    margin-left : 15px;
    font-size: 10pt;
}
#temps{
    width: 6.35cm
}

ul {
    list-style-image: url('/assets/eclair.jpg');
}

.header{
    color: rgb(212, 0, 50);
    font-weight: bold;
}

.year{
    color: rgb(212, 0, 50);
}

#parcours_header{
    font-weight: bold;
}

.module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #607D8B;
    border-radius: 2px;
  }
