<div *ngIf="consultant" class="container">
    <div class="row">
         <div class="column" id="name_block">
             <div class="cadre" id="name">
                 <span id="prenom">  
                        <input [(ngModel)]="consultant.firstname" placeholder="prenom"/>
                 </span> 
                 <span id="nom">
                        <input [(ngModel)]="consultant.lastname" placeholder="nom"/>
                 </span>
             </div>
             <div class="form-group">
             <div id="metier">
                    <input class="form-control" [(ngModel)]="consultant.title" placeholder="title"/>
             </div></div>
         </div>
        
    </div>
    <div *ngIf="consultant.id">
     <div class="row">
         <div class="column">
                 <div id="photo">
                   <!-- <img src='assets/{{consultant.firstname|lowercase}}{{consultant.lastname|lowercase}}.jpg' height="160"> -->
                  </div>
                  <app-date [(birthday)]="consultant.birthday"></app-date>
         </div>
         <div class="column">
             <fieldset class="cadre" id="forces">
                 <legend>FORCES GOGNITIVES</legend>
                 <app-force-choice [(options)]="consultant.forces"></app-force-choice>
             </fieldset>
             <div id="expression"> <input [(ngModel)]="consultant.expression" placeholder="expression"/></div>
             <div id="author"> <input [(ngModel)]="consultant.author" placeholder="author"/></div>
         </div>
     </div>
     <fieldset class="cadre">
         <legend>PROFIL</legend>
         <div class="form-group">
         <div id="profil"> 
              <textarea class="form-control"  [(ngModel)]="consultant.profile" placeholder="profil" rows="5" >
            </textarea>
              </div>
        </div>
        </fieldset>
     <fieldset class="cadre">
         <legend>COMPETENCES TECHNIQUES</legend>
         <div id="competences">  
            <a routerLink="/competences/{{consultant.id}}">     
                <div class="module">Ouvrir formulaire de competences</div>
            </a>
         </div>
     </fieldset>
     <div class="row">
    <fieldset class="cadre">
        <app-list-edit 
            [(inputArray)]="consultant.formations"
            [keysToShow]="formationsKeysToShow"
            [headElements]="formationsHeadElements"
            textToShow="Ajouter une formation"
            name="FORMATIONS"
            >
        </app-list-edit>
    </fieldset>
         <div class="column">
             <fieldset class="cadre" id="disponibilite">
                 <legend>DISPONIBILITE</legend>
                 <div id="temps"> <input [(ngModel)]="consultant.occupancy" placeholder="occupancy"/></div>
                Mobilité: <div id="mobilite"><input [(ngModel)]="consultant.mobility" placeholder="mobility"/></div>
             </fieldset>
             <fieldset class="cadre">
                 <legend>LANGUES</legend>
                 <div  id="langues">
                     <app-langue-choice [(languesArray)]=consultant.langues></app-langue-choice>
                 </div>
             </fieldset>
         </div>
     </div>
     <p style="page-break-before: always">
     
            <fieldset class="cadre">
        <app-list-edit
            [(inputArray)]="consultant.projets"
            [keysToShow]=formationsKeysToShow
            [headElements]=formationsHeadElements
            [showDetails]="true"
            textToShow="Ajouter un projet"
            name="PROJETS AUTICONSULT"
            >
        </app-list-edit>
            </fieldset>
            <fieldset class="cadre">
    <app-list-edit 
        [(inputArray)]="consultant.parcours"
        [keysToShow]=formationsKeysToShow
        [headElements]=formationsHeadElements
        [showDetails]="true"
        textToShow="Ajouter un parcours"
        name="PARCOURS"
        >
    </app-list-edit>
</fieldset>
     <fieldset class="cadre">
         <legend>INTERETS</legend>
         <div id="interets">
                <input [(ngModel)]="consultant.interests" placeholder="Interests"/>
           </div>
     </fieldset>
    </div>
     <!-- <a routerLink="/detail/{{consultant.id}}"> -->
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="save()"><div class="module">Save</div></button>   
        <!-- </a> -->
</div> 
  