  <div *ngIf="consultant">
      {{consultant.firstname}}
        <div class="row">
         <div class="column" id="name_block">
             <div class="cadre" id="name">
                 <span id="prenom">  
                        <input [(ngModel)]="consultant.firstname" placeholder="prenom"/>
                 </span> 
                 <span id="nom">
                        <input [(ngModel)]="consultant.lastname" placeholder="nom"/>
                 </span>
             </div>
             <div id="metier">
                    <input [(ngModel)]="consultant.title" placeholder="title"/>
             </div>
         </div>
         <div id="logo"><img src='assets/logo.jpg'></div>
     </div>
     <div class="row">
         <div class="column">
                 <div id="photo">
                   <img src='assets/{{consultant.firstname|lowercase}}{{consultant.lastname|lowercase}}.jpg' height="160">
                 </div>
                 <input [(ngModel)]="consultant.birthday" placeholder="birthday"/>
         </div>
         <div class="column">
             <fieldset class="cadre" id="forces">
                 <legend>FORCES GOGNITIVES</legend>
                 <ul>
                     <li *ngFor="let f of consultant.forces">
                             {{f.name}}
                     </li>
     
                 </ul>
             </fieldset>
             <div id="expression"> <input [(ngModel)]="consultant.expression" placeholder="expression"/></div>
             <div id="author"> <input [(ngModel)]="consultant.author" placeholder="author"/></div>
         </div>
     </div>
     <fieldset class="cadre">
         <legend>PROFIL</legend>
         <div id="profil">  <input size="{{consultant.profile.length}}" [(ngModel)]="consultant.profile" placeholder="profil"/></div>
     </fieldset>
     <fieldset class="cadre">
         <legend>COMPETENCES TECHNIQUES</legend>
         <div id="competences">
     
             <div *ngFor="let g of consultant.groups">
                 <span class="comp_group">{{g.description}}</span> : <span *ngFor="let c of g.competences" class="comp">
                     {{c.name}} </span>
             </div>
     
         </div>
     </fieldset>
     <div class="row">
         <fieldset class="cadre">
             <legend>FORMATIONS</legend>
             <div id="formations">
                 
                 <div *ngFor="let f of consultant.formations">
                        <input [(ngModel)]="f.title" placeholder="diplome"/> -  
                        <input [(ngModel)]="f.institution" placeholder="institution"/> -  
                        <input [(ngModel)]="f.place" placeholder="place"/> - 
                        <span class="year"> <input [(ngModel)]="f.dates" placeholder="dates"/></span>
                 </div>
             </div>
         </fieldset>
         <div class="column">
             <fieldset class="cadre" id="disponibilite">
                 <legend>DISPONIBILITE</legend>
                 <div id="temps"> <input [(ngModel)]="consultant.occupancy" placeholder="occupancy"/></div>
                 <div id="mobilite"><input [(ngModel)]="consultant.mobility" placeholder="mobility"/></div>
             </fieldset>
             <fieldset class="cadre">
                 <legend>LANGUES</legend>
                 <div  id="langues"></div>
             </fieldset>
         </div>
     </div>
     <p style="page-break-before: always">
     
     <div class="row">
         <div class="column" id="name_block">
             <div class="cadre" id="name">
                 <span id="prenom">  
                     {{consultant.firstname }}
                 </span> 
                 <span id="nom">
                     {{consultant.lastname | uppercase}}
                 </span>
             </div>
             <div id="metier">
                 {{consultant.title}}
             </div>
         </div>
         <div id="logo">
             <img src="assets/logo.jpg">
         </div>
     </div>
     <fieldset class="cadre" id="projets">
         <legend>PROJETS AUTICONSULT</legend>
         <div *ngFor="let p of consultant.projets">
                 <div id="parcours_header">
                     {{p.dates}} : {{p.title}} - {{p.institution}}, {{p.place}}
                 </div>
                     <li *ngFor="let d of p.details" id="parcours_details">
                             {{d.description}}
                     </li>
             </div>
     </fieldset>
     <fieldset class="cadre" id="parcours">
         <legend>PARCOURS</legend>
         <div *ngFor="let p of consultant.parcours">
             <div id="parcours_header">
                 {{p.dates}} : {{p.title}} - {{p.institution}} - {{p.place}}
             </div>
                 <li *ngFor="let d of p.details" id="parcours_details">
                         {{d.description}}
                 </li>
         </div>
     
     </fieldset>
     
     <fieldset class="cadre">
         <legend>INTERETS</legend>
         <div id="interets">
                <input [(ngModel)]="consultant.interests" placeholder="Interests"/>
           </div>
     </fieldset>
     <a routerLink="/detail/{{c.id}}">
        <button (click)="save()">save</button>   
        </a>
        consultantJSON: {{consultant | json}}
     </div>

  