<div *ngIf="options" [formGroup]="parentForm">
  <div formArrayName="langues">
    <div *ngFor="let item of langues.controls; let i=index"  [formGroupName]="i"> 
     
          <mat-form-field  fxFlex="15%"> 
            <input matInput
              placeholder="Choisir langue dans la liste" 
              formControlName="parent2"     
              [matAutocomplete]="auto"
            >             
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">   
                <mat-option 
                  *ngFor="let option of filteredOptions[i] | async" 
                  (onSelectionChange)="selectedOption(option)"
                  [value]="option" >
                  {{option.description}}
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>

          <mat-form-field  fxFlex="5%" fxFlex.xs="20"> 
            <input matInput placeholder="Niveau" formControlName="niveau">
          </mat-form-field>

          <button type="button" mat-fab (click)="removeLangue(i)">
            <i class="fas fa-trash-alt"></i>
          </button>
    </div>
    
    <button mat-fab type="button" (click)="addLangue()">
      <i class="fas fa-plus-circle"></i>
    </button>  
  </div> 
</div>



