<div [formGroup]="parentForm">
  <div formArrayName="langues">
    <div *ngFor="let item of items.controls; let i=index"  [formGroupName]="i"> 
          <mat-form-field  fxFlex="15%">
          <div formGroupName="parent2">
           <input 
              matInput
              placeholder="Choisir langue dans la liste" 
              formControlName="description"    
              [matAutocomplete]="auto"
            >        
              <mat-autocomplete 
              #auto="matAutocomplete" 
              >   
                <mat-option 
                  *ngFor="let option of filteredOptions[i] | async" 
                  (onSelectionChange)="selectedOption(i, option)"
                  [value]="option.description" >
                  {{option.description}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </mat-form-field>
      

          <mat-form-field  fxFlex="5%" fxFlex.xs="20"> 
            <input matInput placeholder="Niveau" formControlName="niveau">
          </mat-form-field>

          <button type="button" mat-fab (click)="removeItem(i)">
            <i class="fas fa-trash-alt"></i>
          </button>
    </div>    
    <button mat-fab type="button" (click)="addItem()">
      <i class="fas fa-plus-circle"></i>
    </button> 
  </div> 
</div>



