<div [formGroup]="parentForm">
  <!-- <mat-error *ngIf="!parentDescription.valid"   
  >       
    Il faut cliquer sur une langue dans la liste
  </mat-error> -->
    <mat-form-field  style="width:20vw" #focusMe>
      <div formGroupName="parent2">
        <input 
          matInput
          [placeholder]="placeholder" 
          formControlName="description"    
          [matAutocomplete]="auto"
          required
        >        
          <mat-autocomplete 
          #auto="matAutocomplete" 
          >   
            <mat-option 
              *ngFor="let option of filteredOptions | async" 
              (onSelectionChange)="selectedOption(option)"
              [value]="option.description" >
              {{option.description}}
            </mat-option>
          </mat-autocomplete>
      </div>
    </mat-form-field>
</div>
   



