<div class="container">
<form 
  *ngIf="showSearch"
  (ngSubmit)="onSubmitCriteria()" 
  [formGroup]="selectSearchForm" 
  novalidate
  >
      <app-mat-select
        controlName="selectFormControl"
        [options]="researchCriteriaOptions"
        propertyToShow="description"
        propertyToGet="property"
        placeholder="Choisir le critère de recherche"
      ></app-mat-select>
    <input formControlName="searchString" placeholder="Valeur">
  <button 
    type="submit" 
    class="btn btn-success" 
    [disabled]="!selectSearchForm.valid"
  >
    OK
  </button> 
</form>

<br>

<div *ngIf="competenceChoice && showSearch">
<form 
  [formGroup]="competenceChoice" 
  (ngSubmit)="onSubmitCompetenceChoice()"
  novalidate
  >
    <app-mat-autocomplete
      [options] = "competenceItems"
      placeholder = "Chercher dans les compétences"
      controlName="description"
      property="description"
      >
    </app-mat-autocomplete>  
    <button 
        type="submit"
        class="btn btn-success" 
        [disabled]="!competenceChoice.valid"
        >
        OK
      </button>   
    
</form>
</div>
<div *ngIf="showList">
 <div *ngIf="consultants; else loading" >
  <app-list-show 
    [(inputArray)]="consultants"
    [fieldsToShow]="headerToShow"
    [buttonsArray]="buttonsArray"
    (itemToEmit)="buttonFunction($event)"
  >
  </app-list-show>
</div>
</div>

<ng-template #loading>
  Loading (check console for errors)...
</ng-template>
</div>

<ng-template #deleteDialogTemplate>
  <div mat-dialog-actions align="center">
    <button mat-button mat-dialog-close cdkFocusInitial class="mat-raised-button btn btn-danger">Non</button>
    <button mat-button [mat-dialog-close]="true" class="mat-raised-button btn btn-success">Oui</button>
  </div>
</ng-template>