<div class="container">
<form 
  (ngSubmit)="onSubmitCriteria()" 
  [formGroup]="selectSearchForm" 
  novalidate
  >
      <app-mat-select
        controlName="selectFormControl"
        [options]="options"
        propertyToShow="description"
        propertyToGet="property"
        placeholder="Choisir le critère de recherche"
      ></app-mat-select>
    <input formControlName="searchString" placeholder="Valeur">
  <button 
    type="submit" 
    class="btn btn-success" 
    [disabled]="!selectSearchForm.valid"
  >
    OK
  </button> 
</form>

<br>

<form 
  [formGroup]="competenceChoice" 
  (ngSubmit)="onSubmitCompetenceChoice()"
  novalidate
  >
    <app-mat-autocomplete
      [options] = "competenceItems"
      placeholder = "Chercher dans les compétences"
      controlName="description"
      property="description"
      >
    </app-mat-autocomplete>  
    <button 
        type="submit"
        class="btn btn-success" 
        [disabled]="!competenceChoice.valid"
        >
        OK
      </button>   
    
</form>

 <div *ngIf="consultants; else loading" >
  <app-list-show 
    [(inputArray)]="consultants"
    [keysToShow]="keysToShow"
    [headElements]="headElements"
    (itemToDelete)="openDialog($event)"
  >
  </app-list-show>
</div>

<ng-template #loading>
  Loading (check console for errors)...
</ng-template>
</div>