<form (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Chercher dans: </mat-label>
      <mat-select 
        matNativeControl 
        [formControl]="selectFormControl"
        required
      >
        <mat-option 
          *ngFor="let option of options" 
          (onSelectionChange)="selectedOption(option)"
          [value]="option.property"
        >
          {{option.description}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="selectFormControl.hasError('required')">
        Ce champs est obligatoire
      </mat-error>
  </mat-form-field>
  <input type="search" [(ngModel)]="searchString" name="firstname" placeholder="Search text">
  <button type="submit" class="btn btn-success">OK</button> 
</form>
<br>

<div *ngIf="items; else loading">
<app-list-show 
[(inputArray)]="items"
[keysToShow]="keysToShow"
[headElements]="headElements"
(itemToDelete)="delete($event)"
>
</app-list-show>
</div>

<ng-template #loading>
  Loading (check console for errors)...
</ng-template>