<mat-form-field  style="width:20vw" #focusMe>
    <input 
      matInput
      [placeholder]="placeholder" 
      [formControlName]="controlName"    
      [matAutocomplete]="auto"
      required
    >        
      <mat-autocomplete 
      #auto="matAutocomplete" 
      >   
        <mat-option 
          *ngFor="let option of filteredOptions | async" 
          (onSelectionChange)="selectedOption(option)"
          [value]="option[property]" >
          {{option[property]}}
        </mat-option>
      </mat-autocomplete>
</mat-form-field>

